# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# PyCharm
.idea/

# Secrets
.env

# Archives
*.zip

# Runtime data
app/data/raw/
app/data/system/*.json

# Real Estate project
app/data/real_estate/
app/modules/real_estate/

# OS
.DS_Store
Thumbs.db
.idea/
app/data/system/*.json